<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/head", {title: "Detalle de Producto"}) %>
  </head>

  <body>
    <!--header/javi -->
    <%- include("partials/header") %>

    <section class="container-fluid text-center">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="zoom animate__animated animate__zoomIn">
            <img
              class="img1-detail pt-4"
              src=" "
              alt=""
            />
          </div>

          <article class="text-left">
            
            <img src="<%= product.image1 %>" alt="product image" class="product-detail-img" value="Show Images">
            <h3 class="title-principal p-2"><%= product.titulo %></h3>
            <span class="title-principal2 p-2"
              ><%= product.cantidad %> x <%= product.precio %>
            </span>
            <span class="title-principal3 p-1"
              ><%= product.descuento %> <i class="fa fa-tag"></i
            ></span>
          </article>

          <div class="star text-left p-2">
            <i class="fa fa-star"></i>
            <i classs="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <a class="link-comments" href=""><%= product.commentarios %> </a>
          </div>

          <div class="row">
            <div class="col-12 col-md-8">
              <button
                type="button"
                class="btn-carrito pl-5 pr-5 m-4 btn btn-outline-primary"
              >
                Añadir al carrito <i class="fa fa-shopping-cart"></i>
              </button>
            </div>
          </div>

          <div class="row">
              <a href="/products/<%= product.id%>/edit">
                <div class="col-12 col-md-8">              
                <button type="button" class="btn-edit btn btn-outline-primary">
                  Editar producto <i class="fa fa-pencil"></i></button>
              </a>

              <!--Buttom Alert-->

              <button
                type="button"
                class="btn-eliminar btn btn-danger"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                Eliminar <i class="fa fa-trash"></i>
              </button>

              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        ¿Está seguro que desea eliminar el producto?
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        NO
                      </button>
                      <form action="<%= product.id %>/delete?_method=delete" method="POST">
                      <button type="submit" class="btn btn-warning">SI</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--Buttom Alert-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-8">
          <table class="table table-bordered table-detail">
            <h3 class="title-product text-left pt-4">Detalle del producto</h3>

            <tr>
              <td class="title-table">Origen</td>
              <td class="subtitle-table"><%= product.origen %></td>
            </tr>

            <tr>
              <td class="title-table">Tipo</td>
              <td class="subtitle-table"><%= product.categoria %></td>
            </tr>

            <tr>
              <td class="title-table">Marca</td>
              <td class="subtitle-table"><%= product.marca %></td>
            </tr>

            <tr>
              <td class="title-table">Envase</td>
              <td class="subtitle-table"><%= product.presentacion %></td>
            </tr>

            <tr>
              <td class="title-table">Contenido</td>
              <td class="subtitle-table">330 Ml</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-8">
          <h5 class="title-product text-left pt-3">Descripcion del producto</h5>
          <p class="subtitle-table p-1">
            <%= product.descripcion %>
          </p>
        </div>
      </div>
    </div>

    <!--footer/franco -->
    <%- include("partials/footer") %>
  </body>
</html>
