<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/head", {title: "Detalle de Producto"}) %>
  </head>

  <body class="bg_color">
    <!--header-->
    <%- include("partials/header") %>

    <section class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn">
          <!--titulo-->
          <div class="register-title col-12">
            <h2 class="title_categoria">
              <%= product.nombre %>
            </h2>
          </div>
          <div class="dropdown-divider"></div>
            <div class="row d-flex align-items-center">
                
                <div class="col-6 align-items-center d-flex justify-content-center mb-4">
                    <!--imagen-->
                    <img src="/upload/<%= product.imagen %>" alt="product image" width="200" class="product-detail-img" value="Show Images">
                </div>
            
                <div class="col-6 border-left">
                    <!--cantidad-->
                    <h5 id="cantidad" class="font-weight-light">Cantidad en Stock: <strong><%= product.stock %></strong></h4> 
                    <!--precio-->
                    <h5 id="precio" class="font-weight-light"> Precio : <strong>$ <%= product.precioUnitario %></strong></h5>
                    <!--descuento-->
                    <span class=" bg-success text-white rounded-pill pr-2 pl-2 pt-1 pb-1">Descuento <%= product.descuento %>% <i class="fa fa-tag"></i></span>
                    <!--rating-->
                    <div class="star text-left p-2 d-none"> <!--desabilitado hasta que funcione como un rating-->
                        <i class="fa fa-star"></i>
                        <i classs="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <a class="link-comments" href=""><%= product.rating %> </a>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
              <small class="text-muted">
                <div class="dropdown-divider"></div>
                <i class="far fa-address-card"></i> usuario vendedor id: <%= product.usuario.id %></br>
                <div class="dropdown-divider"></div>
              </small> 
            </div>
            
            <!-- comprar / agregar al carrito -->
            
            <div class="col-12 d-flex justify-content-center mt-2 mb-3">
              <form action="/carrito/<%= product.id%>" method="POST">
              <button id="btn-carrito" type="submit" class="btn btn-outline-warning mr-2">
                <i class="fa fa-shopping-cart"></i> Agregar al Carrito
              </button>
              <button type="submit" class="btn btn-outline-warning ml-2">
                Comprar
              </button>
              </form>
            </div>
            

           
            <!--detalle de bebida-->
            <div class="row p-0 m-auto border-secondary p-4">
                <h3 class="col-12 font-weight-light">Detalle de la Bebida</h3>
                <ul class="list-group col-4 list-group-flush">
                  <li class="list-group-item">Marca</li>
                  <li class="list-group-item">Alcohol</li>
                  <li class="list-group-item">ibu</li>
                  <li class="list-group-item">Presentacion</li>
                  <li class="list-group-item border-bottom-0">Contenido</li>
                </ul>
                <ul class="list-group col-8 list-group-flush "> 
                  <li class="list-group-item"><%= bebida.marca %></li>
                  <li class="list-group-item"><%= bebida.alcohol %></li>
                  <li class="list-group-item"><%= bebida.ibu %></li>
                  <li class="list-group-item"><%= bebida.presentacion.nombre %></li> 
                  <li class="list-group-item"><%= bebida.presentacion.capacidad %></li> 
                </ul>   
            </div>
            <div class="row pl-4 pr-4 pt-4 m-auto">
                    <!--descripci칩n de producto-->
                    <div class="list-group col-12 p-0 m-auto border-secondary">
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Descripci칩n del Producto</h5>
                        </div>
                        <p class="mb-1"><%= product.descripcion %></p>
                        <div class="dropdown-divider"></div>
                        <small><i class="fas fa-info-circle"></i> Puede consultar al vendedor por m치s informaci칩n</small>
                    </div>
                    </div>
                
                <!-- editar / borrar -->
                <% if (user != null && user.email == product.usuario.email) { %> 
                <%- include("partials/editButtons") %> 
                <% } %>
                 
            </div>

          
                        <!--Buttom Alert-->
          </div>
        </div>
      </div>
      
      
    </section>
    <!--footer-->
    <%- include("partials/footer") %>

    
  </body>
</html>
