<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/head", {title: "Detalle de Producto"}) %>
  </head>

  <body class="bg_color">
    <!--header-->
    <%- include("partials/header") %>

    <section class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn">
          <!--titulo-->
          <div class="register-title col-12">
            <h2 class="title_categoria">
              <%= product.nombre %>
            </h2>
          </div>
          <div class="dropdown-divider"></div>
          <div class="media row d-flex align-items-center">
            <div class="col-6 align-items-center d-flex justify-content-center mb-4">
              <!--imagen-->
              <img src="/upload/<%= product.imagen %>" alt="product image" width="150" class="product-detail-img" value="Show Images">
              <small class="text-muted">
                    id producto: <%= product.id %>
            </small>   
            </div>
            
            <div class="media-body col-6 border-left">
              <!--cantidad-->
              <h5 class="font-weight-light">Cantidad en Stock: <strong><%= product.stock %></strong></h4> 
              <!--precio-->
              <h5 class="font-weight-light"> Precio : <strong>$ <%= product.precioUnitario %></strong></h5>
              <!--descuento-->
              <span class=" bg-success text-white rounded-pill pr-2 pl-2 pt-1 pb-1">Descuento <%= product.descuento %>% <i class="fa fa-tag"></i></span>
              <!--rating-->
              <div class="star text-left p-2">
                <i class="fa fa-star"></i>
                <i classs="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a class="link-comments" href=""><%= product.comentarios %> </a>
              </div>
            </div>
            <div class="row p-0 ml- m-auto justify-content-start">
                <small class="text-muted">
                    <div class="dropdown-divider"></div>
                        <i class="far fa-address-card "></i> usuario vendedor: <%= product.usuario.email %></br>
                        id: <%= product.usuario.id %></br>
                        Nombre y Apellido: <%= product.usuario.nombre %> <%= product.usuario.apellido %>
                        <div class="dropdown-divider"></div>
                </small> 
                            
            </div>
            <!-- comprar / agregar al carrito -->
            <div class="col-12 d-flex justify-content-center mb-3">
              <button type="submit" class="btn btn-outline-warning mr-2">
                <i class="fa fa-shopping-cart"></i> Agregar al Carrito
              </button>
              <button type="submit" class="btn btn-outline-warning ml-2">
                Comprar
              </button>
            </div>
            
            <!--detalle de insumo-->
            <div class="row p-0 ml-3 mr-auto border-secondary p-4">
                <h3 class="col-12 font-weight-light">Detalle del Insumo</h3>
                <ul class="list-group col-4 list-group-flush">
                  <li class="list-group-item">Origen</li>
                  <li class="list-group-item border-bottom-0">ProducId</li>
                </ul>
                <ul class="list-group col-8 list-group-flush "> 
                  <li class="list-group-item"><%= insumo.origen %></li>
                  <li class="list-group-item"><%= insumo.productoId %></li>
                </ul>
            </div>

            <!--descripci칩n de producto-->
            <div class="list-group p-0 m-auto border-secondary">
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Descripci칩n del Producto</h5>
                </div>
                <p class="mb-1"><%= product.descripcion %></p>
                <div class="dropdown-divider"></div>
                <small><i class="fas fa-info-circle"></i> Puede consultar al vendedor por m치s informaci칩n</small>
              </div>
            </div>
          
          <!-- editar / borrar -->
          <% if (user != null && user.email == product.usuario.email) { %> 
            <%- include("partials/editButtons") %> 
            <% } %>

          
                        <!--Buttom Alert-->
          </div>
        </div>
      </div>
      
      
    </section>
    <!--footer-->
    <%- include("partials/footer") %>


  </body>
</html>
