<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head", {title: "Vende por CanillaLibre"}) %>

  <body class="bg_color">
    
    <!--header/javi -->
    <%- include("partials/header") %>

    <!--ventas/diego -->
    <section class="container mt-5 mb-5">
        <div class="row">


            <form class="col-xl-9 col-lg-9 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn" 
            action="/products/<%= product.id %>/edit/" 
            method="POST"
            enctype="multipart/form-data" 
            id="form" 
            onsubmit="return validar()">

                <div class="register-title col-12">
                    <h2 class="title_categoria">
                        <i class="fas fa-hand-holding-usd text-black-50"></i></i> Vende por Canilla<strong>Libre</strong>.com
                    </h2>
                </div>
                <div class="dropdown-divider"></div>

                <!-- titulo de venta -->
                <!-- titulo de venta -->
                <div class="form-group mt-4 mb-4">
                    <h5 class="text-secondary"><i class="far fa-edit"></i> Estas editando la publicación:</h5>
                    <h5><%= product.nombre %></h5>
                    <small class="text-warning">
                        <p>producto - id: <%= product.id %></p>
                    </small>
                </div>
              
                <div class="row align-items-center">
                    <div class="form-group col-9">
                        <label for="sell_title">Título del Anuncio</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" value="<%= product.nombre  %>" aria-describedby="sell_title"/> 

                        <div id="validacion_nombre" class="text-danger"></div>

                    </div>
                    
                </div>
                <!-- descripcion -->
                <div class="form-group">
                    <label for="sell_description">Hace una breve despricion de lo que vas a vender</label>
                    <textarea class="form-control"  rows="3" placeholder="No te olvides datos importantes" name="descripcion" id="descripcion" ><%= product.descripcion %></textarea>
                </div>

                <div id="validacion_descripcion" class="text-danger"></div>
                
                <div class="row align-items-center">

                    <!-- tipo de Producto-->
                    <div class="form-group col-4 mb-4">
                        <label for=""><i class="fas fa-layer-group"></i> Tipo de Producto</label> </br>
                            <p id="productoId" value="<%= product.tipoproducto %>" class="p-2 border rounded bg-light">
                                <% if (product.tipoproducto == 1){ %>
                                    Bebidas
                                <% } %>
                                <% if (product.tipoproducto == 2){ %>
                                    Insumos
                                <% } %>
                                <% if (product.tipoproducto == 3){ %>
                                    Cursos
                                <% } %>
                            </p>
                            
                    </div>
                    <!-- envios -->
                    <div class="col-4">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="sell_envios" name="envio"> <!-- se encuentra desabilitado hasta la implementacion de campos en tabla -->
                            <label class="custom-control-label" for="sell_envios">Puedo hacer envios!</label> 
                        </div>
                    </div>
                </div>
                
                <div id="cursos" class="row">
                    <!-- Disertante -->
                    <div class="form-group col-8" id="disertante" >
                        <label for="disertante">Disertante</label>
                        <input type="text" 
                        class="form-control"  
                        value="<%= curso.disertante %>"
                        placeholder="<%= curso.disertante %>" 
                        aria-describedby="disertante" 
                        name="disertante" 
                        id="disertante" />
                    </div>
                    
                    <!-- medio -->
                    <div class="form-group col-4" id="medioId" >
                        <label for="sell_category">Medio</label>
                        <select  class="form-control" name="medioId" id="medioId">
                            
                            <option selected value="<%=curso.medioId%>"><%= curso.medio.nombre %></option>
                            
                            <% for (let i= 0; i < medios.length; i++) { %> 
                                <option value="<%= medios[i].id %>">
                                    <%= medios[i].nombre %> 
                                </option>
                            <% } %> 
                                
                        </select>
                    
                </div>

                <!-- imagen1 -->
                <div class="row mt-2 mb-4 pl-3 justify-content-between">
                    <div class="form-group col-12">
                        <p class="mb-1">Primera imagen</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input"  lang="es"  name="imagen" id="imagen"/>
                            <label class="custom-file-label" for="">Seleccionar Archivo</label>
                        </div>
                        <div id="validacion_imagen" class="text-danger"></div>
                    </div>

                    <!-- imagen2 -->
                    <div class="form-group col-4"  style="display:none;">
                        <p class="mb-1">Segunda Imagen<em></em></p>
                 <div class="custom-file">
                            <input type="file" class="custom-file-input" id="sell_image_2" lang="es" disabled/> <!-- se encuentra desabilitado hasta la implementacion de campos en tabla -->
                            <label class="custom-file-label" for="sell_image_2">Seleccionar Archivo</label>
                        </div>
                    </div>

                    <!-- imagen3 -->
                    <div class="form-group col-4"  style="display:none;">
                        <p class="mb-1">Tercera imagen<em></em></p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="sell_image_3" lang="es" disabled/> <!-- se encuentra desabilitado hasta la implementacion de campos en tabla -->
                            <label class="custom-file-label" for="sell_image_3">Seleccionar Archivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-divider"></div>

                <div class="row align-items-center justify-content-between bg-light ml-3 mr-3 p-2">
                    <!-- precio -->
                    <div class="form-group col-3">
                        <label for="sell_price"><i class="fas fa-hand-holding-usd"></i> Precio Unidad</label>
                        <input type="number" 
                            class="form-control" 
                            aria-describedby="sell_price" 
                            name="precioUnitario" 
                            id="precioUnitario" 
                            value="<%= product.precioUnitario %>"
                            placeholder="<%= product.precioUnitario %>" />
                    </div>
                    <!-- cantidad -->
                    <div class="form-group col-3">
                        <label for="sell_quantity">Vacantes</label>
                        <input type="number" 
                        class="form-control" 
                        aria-describedby="sell_quantity"
                        name="stock" 
                        id="stock" 
                        value="<%= product.stock %>"
                        placeholder="<%= product.stock %>"/>
                    </div>
                    <!-- descuento -->
                    <div class="form-group col-3">
                        <label for="sell_discount"><i class="fas fa-percentage"></i> Descuento </label>
                        <input type="number" 
                        class="form-control" 
                        aria-describedby="sell_discount" 
                        name="descuento" 
                        id="descuento" 
                        value="<%= product.descuento %>"
                        placeholder="<%= product.descuento %>"/>
                    </div>
                </div>

                <!-- boton enviar -->
                <div class="col-12 d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-outline-warning mt-3 mb-3">
                        Modificar!
                    </button>
                </div>
                <div class="dropdown-divider"></div>
                
            </form>
        </div>
    </section>

    <!--footer/fran -->
    <%- include("partials/footer") %>

    <script src="/js/validacionModificarProducto.js"></script>
    
  </body>
</html>
