<!DOCTYPE html>
<html lang="en">
  <!--head-->
  <%- include("partials/head", {title: "Canilla Libre - BeerMarket®"}) %>

  <body class="home">
    <!--header/javi -->
    <%- include("partials/headerLogin") %>

    <main>
      <!--categorias/javi -->
      <%- include("partials/body_categorias") %>

      <!--Section Ventas/javi -->
      <%- include("partials/body_ventas") %>

      <!--Section Ofertas/diego -->
      <%- include("partials/body_ofertas") %>

      <!--Lo mas vendido/franco -->
      <%- include("partials/body_masVendido") %>

      <!--newsletter/franco -->
      <%- include("partials/body_newsletter") %>
    </main>

    <!--footer/franco -->
    <%- include("partials/footer") %>
  </body>
</html>
