<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta value="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/head", {title: "Registro"}) %>
  </head>

  <body class="bg_color">
    <!--header/javi -->
    <%- include("partials/header") %>
     <form class="col-xl-9 col-lg-9 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded"  action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="register-title col-12">
                    <h2 class="title_categoria">
                        <i class="fas fa-hand-holding-usd text-black-50"></i></i> Vende por Canilla<strong>Libre</strong>.com
                    </h2>
                </div>
                <div class="dropdown-divider"></div>
                <!-- titulo de venta -->
                    <h4 class="mb-4 mt-4">Estas editando el producto <%= product.titulo %> <%= product.id %>  </h4>
                <div class="row align-items-center">
                    <div class="form-group col-9">
                        <label for="sell_title">Título del Anuncio</label>
                        <input type="text" class="form-control" id="title_sell" id="titulo" name="titulo" value="<%= product.titulo  %>" aria-describedby="sell_title" required /> 
                    </div>
                     <!-- envios -->
                    <div class="col-3">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="sell_envios">
                            <label class="custom-control-label" for="sell_envios">Puedo hacer envios!</label>
                        </div>
                    </div>
                </div>
                <!-- descripcion -->
                <div class="form-group">
                    <label for="sell_description">Hace una breve despricion de lo que vas a vender</label>
                    <textarea class="form-control" id="sell_description" rows="3" placeholder="No te olvides datos importantes" id="descripcion" name="descripcion" required><%= product.descripcion %> </textarea>
                </div>
                <div class="row mt-2 mb-4 justify-content-between">
                    <div class="form-group col-4">
                        <p class="mb-1">Marca</p>
                        <div class="custom-file">
                            <input type="text" class="form-control" id="title_sell" aria-describedby="sell_title" id="marca" name="marca" value="<%= product.marca  %>" /> 
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                     <!-- origen -->
                    <div class="form-group col-3">
                        <label for="sell_origin">Origen</label>
                        
                        <select id="sell_origin" class="form-control" id="origen" name="origen" value="<%= product.origen  %>" required>
                            <option selected>Seleccione...</option>
                            <option>Nacional</option>
                            <option>Internacional</option>
                        </select>
                    </div>
                    <!-- tipo -->
                    <div class="form-group col-3">
                        <label for="sell_type">Tipo</label>
                           
                        <select id="sell_type" class="form-control" id="tipo" name="tipo" value="<%= product.tipo  %>" required>
                            <option selected>Seleccione...</option>
                            <option>Cerveza</option>
                            <option>Insumos</option>
                            <option>Alquiler</option>
                            <option>Cursos</option>
                            <option>Merchandesing</option>
                            <option>Cursos</option>
                        </select>
                    </div>
                   <!-- categoria -->
                    <div class="form-group col-3">
                        <label for="sell_category">Categoría</label>
                        
                        <select id="sell_category" class="form-control" id="categoria"name="categoria" value="<%= product.categoria  %>">
                            <option selected>Seleccione...</option>
                            <option>Ale</option>
                            <option>Ipa</option>
                            <option>Lager</option>
                            <option>Lambic</option>
                            <option>Pilsen</option>
                            <option>Porter</option>
                            <option>Stout</option>
                            <option>Trigo</option>
                            <option>Sin Alcohol</option>
                            <option>Especiales</option>
                        </select>
                        
                    </div>
                    <!-- presentacion -->
                    <div class="form-group col-3">
                        <label for="sell_container">Presentación</label>
                        <select id="sell_container" class="form-control" id="presentacion" name="presentacion" value="<%= product.envase  %>">
                            <option selected>Seleccione...</option>
                            <option>Lata</option>
                            <option>Porron</option>
                            <option>Botella</option>
                            <option>Barril</option>
                            <option>Chopera</option>
                        </select>
                     
                    </div>
                </div>    
                    <!-- imagen1 -->
                <div class="row mt-2 mb-4 justify-content-between">
                    <div class="form-group col-4">
                        <p class="mb-1">Primera imagen</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="sell_image_1" name= "image1" lang="es" value="<%= product.image1  %>"/>
                            <label class="custom-file-label" for="sell_image_1">Seleccionar Archivo</label>
                           
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-4 justify-content-between">
                    <div class="form-group col-4">
                        <p class="mb-1">Comentarios</p>
                        <div class="custom-file">
                            <input type="text" class="form-control" id="title_sell" aria-describedby="sell_title" value="<%= product.comentarios  %>" /> 
                            
                        </div>
                    </div>
                </div>

                <div class="dropdown-divider"></div>

                <div class="row align-items-center justify-content-between bg-light m-1">
                    <!-- precio -->
                    <div class="form-group col-3">
                        <label for="sell_price"><i class="fas fa-hand-holding-usd"></i> Precio</label>
                        <input type="number" class="form-control" id=precio name=precio placeholder="precio"
                            aria-describedby="sell_price" value="<%= product.precio %>"/> 
                    </div>
                    <!-- cantidad -->
                    <div class="form-group col-3">
                        <label for="sell_quantity">Cantidad</label>
                        <input type="number" class="form-control" id=cantidad name= "cantidad"placeholder="cantidad" aria-describedby="sell_quantity"
                             name="<%= product.cantidad  %>"/> 
                    </div>
                    <!-- descuento -->
                    <div class="form-group col-3 p-2">
                        <label for="sell_discount"><i class="fas fa-percentage"></i> Descuento </label>
                        <input type="number" class="form-control" id=descuento name=descuento placeholder="porcentaje"
                            aria-describedby="sell_discount"  name="<%= product.descuento %>"/> 
                    </div>
                </div>
                 <!-- boton guardar -->
                <div class="col-12 d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-outline-warning mt-3 mb-3">
                        Guardar
                    </button>
                </div>
    </form>
                    

    <!--footer/fran -->
    <%- include("partials/footer") %>
  </body>
</html>
